.msg {
    position: relative;
}

.msg > span {
    position: absolute;
    top: 6px;
    font-size: 14px;
    color: rgb(244, 92, 66);
    margin-right: 5px;
}

.msg i {
    font-size: 16px;
    margin-right: 5px;
}

.msg i.fa-times-circle {
    color: rgb(244, 92, 66);
}

.msg i.fa-check-circle {
    color: rgb(63, 189, 148);
}