.react-component-tag {
    border: 1px solid rgb(196, 196, 196);
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(196, 196, 196);
    display: inline-block;
}

.react-component-tag:hover {
    color: rgb(96, 96, 96);
    border-color: rgb(96, 96, 96);
    cursor: pointer;
}

.react-component-tags .react-component-tag {
    margin: 10px 5px;
}

.react-component-tag > i {

}